/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

/* Barra lateral */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
}

.tablink {
    display: block;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}

.tablink:hover {
    background-color: #777;
}

/* Conteúdo das abas */
.tab-content {
    margin-left: 260px;
    padding: 20px;
    display: none;
}

/* Estilos do formulário */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #777;
}
